body { padding-top:50px; }

.cardTable {
  text-align: left;
}

.cardWrapper {
  display: inline-block;
  /*height: 30vh;*/
  vertical-align: top;
  border: 1px solid black;
}

.cardArt {
  vertical-align: top;
  display: inline-block;
}

.cardWrapper img {
  vertical-align: top;
  height: 30vh;
}

.cardDetail {
  display: inline-block;
  text-align: left;
  max-width: 40vw;
}

.cardDetail ul {
  display: inline-block;
  padding: 0 10px 0 0;
  list-style: none;
}